# Virtual Environment
tech_with_tim/multiclipboard/base

# API keys
_python_learning_applications/tech_with_tim/weather/config.json
#E:\SanDsk 16GB 2021-12-17\_python_learning_applications\tech_with_tim\weather
